body {
 background: url(../assets/img/bg/wave_bg_17.jpg) no-repeat right top fixed #000;
}

/*
#homepage-hero {
	background:url("../assets/img/bg/triangle-in-the-mountains_2.jpg") repeat scroll top center rgba(26, 7, 104, 1);
}

#homepage-hero .floatingyeti img {
    max-width: 100%;
}
*/
#homepage-hero h1 a, #homepage-hero h4 {

    padding-bottom:10px;
    color:#0ef90e;
}

.updated {
	font-size: 1.25rem;
	font-weight:400; 
	border-bottom: 1px dotted #000;
}

header h1 a{
	color:#62006b;
}

header h4 {
	/*font-family: 'Exo 2', sans-serif;*/
}

.post, .container .page {

	border:5px solid #fff;
	padding:1rem;
}

.post header h2 {

	line-height: 1;
	color:#fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.post header h2 a:hover {

	color:#000;
}

.entry-content img, .entry-content p {
	padding-top: 1rem;
}

.container {margin-bottom: 100px;} 
