body {
 background: url(../assets/img/bg/wave_bg_23.jpg) repeat right top fixed #000;
}

/*
#homepage-hero {
	background:url("../assets/img/bg/triangle-in-the-mountains_2.jpg") repeat scroll top center rgba(26, 7, 104, 1);
}

#homepage-hero .floatingyeti img {
    max-width: 100%;
}
*/
#homepage-hero h1 a, #homepage-hero h4 {

    padding-bottom:10px;
    color:#0ef90e;
}

.updated {
	font-size: 1.25rem;
	font-weight:400; 
	border-bottom: 1px dotted #000;
	text-align: center;
}

.categorylist {
	text-align: center;
	font-size: 1.25rem;
	font-weight:400; 
}

.categorylist a {
	color: #00FF00;
	text-decoration: underline; 
}

.categorylist a:hover {
	color: #fff;
	text-decoration: underline; 
}

header h1 a{
	color:#62006b;
}

header h4 {
	/*font-family: 'Exo 2', sans-serif;*/
}

.d3logo {
	padding:1rem 0rem 3rem 0rem;
}

.post, .container .page {
	border: 2px solid #000;
	padding:1rem;
	/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	background: url(../assets/img/bg/fff_30p.png);
	margin-bottom: 2rem;
}

.post header h2 {
	text-align: center;
	line-height: 1;
	color:#fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.post header h2 a:hover {
	color:#000;
}

.tab-bar, .top-bar-container {
	border-bottom:2px solid #00FF00;
	border-top:2px solid #00FF00;
	/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	-moz-box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	background-color: #000;
	width:100%;
}

.tab-bar {
	padding-bottom: 1rem;
}

.entry-content img, .entry-content p {
	padding-top: 1rem;
}

.entry-content a {
	color:#000;
	text-decoration:underline;
}

.entry-content a:hover {
	color:#00ffee;
	text-decoration:underline;
}

#respond {
	padding-top: 3rem;
	color:#fff;
}

.container {margin-bottom: 100px;} 


// Small screens 
@media only screen { 


} /* Define mobile styles */ 

@media only screen and (max-width: 40em) { 

	h1 {
		font-size: 1.75rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	p, .updated { 
		font-size: 0.8rem;
	}


	} /* max-width 640px, mobile-only styles, use when QAing mobile issues */ 
// Medium screens 
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */ 
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 
// Large screens 
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */ 
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */ 
// XLarge screens 
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */ 
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */ 
// XXLarge screens 
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */


