body {
	font-size: 14px;
 background: url(../assets/img/bg/black-and-white-vortex-hole-3d-hd-wallpaper-fader.jpg) repeat right top fixed #000;
}

.toppaint {
	position: absolute;
	top: 0;
	left: 0;

}

.index-headline {
	margin-bottom: 1.5rem;
}

.menubox {
	padding: 1rem;
	margin-bottom:1rem;
	background-image: linear-gradient(#ff00ff91, #000);
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, .75);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, .75);
	box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, .75);
}

a:hover .menubox {
	background-image: linear-gradient(#ff00ff91, #fff);
	-webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
}

.menubox-bg-shows {
	background-image: url("../assets/img/iconset/circle-world-global-internet-earth-outline-stroke.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
}

.menubox h2, .menubox h2 a {
	font-size: 2rem;
	line-height: 1;
	color: #000;
	text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
}

.menubox h2 img {
	width: 2rem;
	height: auto;
	margin: auto 0;
}

.menubox p {
	font-size: 1rem;
}

.cd-primary-nav ul.off-canvas-list li a {
	display: block;
	padding: 0rem;
	border-bottom: 0px;
	line-height: 1.5rem;
	font-family: 'Megrim',cursive;
	font-weight: 600;
	font-style: normal;
	text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
}

.cd-primary-nav ul.off-canvas-list li a:hover {
	text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #1dff46,0 0 0.6em #0ef90e, 0 0 0.8em #0ef90e, 0 0 1.0em #0ef90e, 0 0 1.2em #0ef90e;
}


#homepage-hero h1 a, #homepage-hero h4 {

    padding-bottom:10px;
    color:#0ef90e;
}

.updated {
	font-size: 1.25rem;
	font-weight:400;
	border-bottom: 1px dotted #000;
	text-align: center;
}

.categorylist {
	text-align: center;
	font-size: 1.25rem;
	font-weight:400;
}

.categorylist a {
	color: #00FF00;
	text-decoration: underline;
}

.categorylist a:hover {
	color: #fff;
	text-decoration: underline;
}

header h1 a{
	color:#62006b;
}

header h4 {
	/*font-family: 'Exo 2', sans-serif;*/
}

.d3logo {
	padding:1rem 0rem 3rem 0rem;
}

.post, .container .page {
	border: 2px solid #000;
	padding:1rem;
	/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	background: #000;
	margin-bottom: 2rem;
}

.container .page header h2,
.post header h1.entry-title,
.post header h2 {
	line-height: 1;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: -6rem;
	background-color: black;
	padding-left: 1rem;
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .75);
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.post header h2 a:hover {
	color:#fff;
}

.tab-bar, .top-bar-container {
	/* border-bottom:1px solid #00FF00;*/
	border-top:3px solid #00FF00;
	/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	-moz-box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	box-shadow: 0px 0px 25px 5px rgba(0, 255, 0, .75);
	background-color: #000;
	width:100%;
	height:80px;
}

.top-bar-container .columns {
	height: 80px;
}

.top-bar-container .columns h3 {
	line-height: 80px;
}

.tab-bar {
	padding-bottom: 1rem;
}

.entry-content img, .entry-content p {
	padding-top: 1rem;
}

.entry-content a {
	color:#fff;
	text-decoration:underline;
}

.entry-content a:hover {
	color:#00ffee;
	text-decoration:underline;
}

#respond {
	padding-top: 3rem;
	color:#fff;
}

.container {margin-bottom: 100px;}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Small screens */
@media only screen {


} /* Define mobile styles */

@media only screen and (max-width: 40em) {

	h1 {
		font-size: 1.75rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	p, .updated {
		font-size: 0.8rem;
	}

	.container .page header h2,
	.post header h2 {
		margin-left: -2rem;
	}


}
