<?php
/**
 * Created by PhpStorm.
 * User: florian
 * Date: 08.10.18
 * Time: 23:54
 */

$config = [

    'username' => '',
    'password' => '',
    'writeapi' => 'http://localhost:8082',
    'readapi' => 'http://localhost:8082',
    'blogdomain' => ''
];

return $config;